#navbarup {
  background-color: #f7f7f7;
}
#navbarup .logoinfo {
  display: flex;
  height: 96px;
}
#navbarup .logoinfo img {
  width: 152px;
  height: 42px;
  margin-top: 24px;
}
#navbarup .logoinfo ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  margin-left: -31px;
}
#navbarup .logoinfo ul li:nth-child(1) a {
  color: #ec2127;
}
#navbarup .logoinfo ul li a {
  text-decoration: none;
  color: #53595c;
  margin-left: 8px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
#navbarup .logoinfo ul li a:hover {
  color: rgb(168, 164, 164);
}
#navbarup .contactinfo {
  height: 96px;
  display: flex;
  align-items: center;
}
#navbarup .call {
  margin-top: -6px;
}
#navbarup .call a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  font-weight: 700;
}
#navbarup .worktime {
  width: 150px;
  line-height: 14px;
}
#navbarup .worktime span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 10px;
}
#navbarup .worktime span:nth-child(1) {
  color: #53595c;
}
#navbarup .worktime span:nth-child(2) {
  font-weight: bold;
  line-height: 1.45;
}
#navbarup .language {
  margin-left: 7px;
}
#navbarup .language a {
  text-decoration: none;
  font-size: 0.875rem;
}
#navbarup a:nth-child(1) {
  color: black;
  margin-right: 5px;
}
#navbarup a:nth-child(2) {
  color: rgb(168, 164, 164);
  border: 1px solid rgb(168, 164, 164);
  border-top: none;
  border-bottom: none;
  border-right: none;
  padding-left: 5px;
}

#navbardown {
  background-color: #3c3f42;
}
#navbardown .navleft {
  height: 64px;
  color: #232222;
}
#navbardown .navleft .catalog {
  height: 64px;
  background-color: #232222;
}
#navbardown .navleft .catalog button {
  font-size: 20px;
  margin-top: 14px;
  margin-left: 11px;
  background-color: #232222;
  border: none;
}
#navbardown .navleft .catalog button span {
  color: white;
  font-size: 17px;
  margin-left: 15px;
}
#navbardown .navleft .catalog button i {
  color: white;
}
#navbardown .navright {
  display: flex;
}
#navbardown .navright .search {
  width: 522px;
  height: 64px;
  background-color: #3c3f42;
}
#navbardown .navright .search input {
  width: 440px;
  height: 40px;
  border: none;
  margin-top: 12px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#navbardown .navright .search button {
  margin-top: 13px;
  border: none;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: white;
}
#navbardown .navright .search i {
  background-color: white;
}
#navbardown .navright .signin {
  height: 64px;
}
#navbardown .navright .signin ul {
  display: flex;
  list-style: none;
}
#navbardown .navright .signin ul span {
  font-size: 15px;
  color: white;
  margin-top: 22px;
  margin-left: 10px;
}
#navbardown .navright .signin ul li:nth-child(1) {
  margin-top: 13px;
}
#navbardown .navright .signin ul li:nth-child(1) a {
  font-size: 27px;
}
#navbardown .navright .signin ul li {
  margin-top: 15px;
}
#navbardown .navright .signin ul li a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: 19px;
}

#menufoto {
  background-color: #f7f7f7;
}
#menufoto .producttype {
  height: 500px;
  background-color: white;
}
#menufoto .producttype a:nth-child(1) {
  color: #ec2127;
}
#menufoto .producttype a:nth-child(18) span {
  color: #ec2127;
}
#menufoto .producttype a:nth-child(1) {
  padding-top: 5px;
}
#menufoto .producttype a {
  display: block;
  text-decoration: none;
  color: #232222;
  margin-left: 10px;
  font-size: 15px;
  padding-top: 5px;
}
#menufoto .producttype a span {
  margin-left: 5px;
  font-size: 15px;
}
#menufoto .producttype a .washmach {
  display: inline-block;
}
#menufoto .producttype a:hover span {
  color: #ec2127;
}
#menufoto .producttype a:hover .right {
  color: #ec2127;
}
#menufoto .producttype a a span {
  margin-left: 5px;
  font-size: 14px;
}
#menufoto .producttype a a a {
  text-decoration: none;
  color: #232222;
}
#menufoto .producttype a:hover {
  background-color: #f7f7f7;
}
#menufoto .producttype a .washmach {
  display: inline-block;
}
#menufoto .producttype a:nth-child(4) .right {
  margin-left: 129px;
}
#menufoto .producttype a:nth-child(5) .right {
  margin-left: 104px;
}
#menufoto .producttype a:nth-child(6) .right {
  margin-left: 94px;
}
#menufoto .producttype a:nth-child(7) .right {
  margin-left: 80px;
}
#menufoto .producttype a:nth-child(8) .right {
  margin-left: 123px;
}
#menufoto .producttype a:nth-child(9) .right {
  margin-left: 29px;
}
#menufoto .producttype a:nth-child(10) .right {
  margin-left: 87px;
}
#menufoto .producttype a:nth-child(11) .right {
  margin-left: 101px;
}
#menufoto .producttype a:nth-child(12) .right {
  margin-left: 108px;
}
#menufoto .producttype a:nth-child(13) .right {
  margin-left: 74px;
}
#menufoto .producttype a:nth-child(14) .right {
  margin-left: 144px;
}
#menufoto .producttype a:nth-child(15) .right {
  margin-left: 37px;
}
#menufoto .producttype a:nth-child(16) .right {
  margin-left: 120px;
}
#menufoto .producttype a:nth-child(17) .right {
  margin-left: 110px;
}
#menufoto .producttype a:nth-child(18) .right {
  margin-left: 159px;
  color: #ec2127;
}
#menufoto .slaydfoto {
  width: 99%;
}
#menufoto .slaydfoto img {
  width: 99%;
  height: 500px;
}

#feature {
  background-color: #f7f7f7;
}
#feature .fastdelivery {
  margin-top: 80px;
  width: 272px;
  height: 132px;
  background-color: #EDEDEE;
  margin-bottom: 100px;
  padding-left: 5px;
  position: relative;
}
#feature .fastdelivery a {
  text-decoration: none;
  position: absolute;
  margin-top: 30px;
}
#feature .fastdelivery a .sp1 {
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#feature .fastdelivery a span {
  font-size: 14px;
  color: #53595c;
}
#feature .fastdelivery img {
  width: 105px;
  height: 96.89px;
  position: absolute;
  margin-top: 35px;
  margin-left: 152px;
}
#feature .guarantees {
  margin-top: 80px;
  width: 272px;
  height: 132px;
  background-color: #EDEDEE;
  margin-bottom: 100px;
  padding-left: 5px;
  position: relative;
}
#feature .guarantees a {
  text-decoration: none;
  position: absolute;
  margin-top: 30px;
}
#feature .guarantees a .sp1 {
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#feature .guarantees a span {
  font-size: 14px;
  color: #53595c;
}
#feature .guarantees img {
  width: 104px;
  height: 129.89px;
  position: absolute;
  margin-top: 1px;
  margin-left: 152px;
}
#feature .offers {
  margin-top: 80px;
  width: 272px;
  height: 132px;
  background-color: #EDEDEE;
  margin-bottom: 100px;
  padding-left: 5px;
  position: relative;
}
#feature .offers a {
  text-decoration: none;
  position: absolute;
  margin-top: 30px;
}
#feature .offers a .sp1 {
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#feature .offers a span {
  font-size: 14px;
  color: #53595c;
}
#feature .offers img {
  width: 110px;
  height: 96.89px;
  position: absolute;
  margin-top: 35px;
  margin-left: 157px;
}
#feature .trustcard {
  margin-top: 80px;
  width: 272px;
  height: 132px;
  background-color: #EDEDEE;
  margin-bottom: 100px;
  padding-left: 5px;
  position: relative;
}
#feature .trustcard a {
  text-decoration: none;
  position: absolute;
  margin-top: 28px;
}
#feature .trustcard a .sp1 {
  color: black;
  font-size: 17px;
  font-weight: bold;
}
#feature .trustcard a span {
  font-size: 14px;
  color: #53595c;
}
#feature .trustcard img {
  width: 110px;
  height: 96.89px;
  position: absolute;
  margin-top: 35px;
  margin-left: 157px;
}/*# sourceMappingURL=homepage.css.map */