$navhover-color: rgb(168, 164, 164);
$navfontfamily: Arial, Helvetica, sans-serif;



#navbarup {
    background-color: #f7f7f7;

    .logoinfo {
        display: flex;
        height: 96px;

        img {
            width: 152px;
            height: 42px;
            margin-top: 24px;
        }


        ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            margin-top: 14px;
            margin-left: -31px;

            li:nth-child(1)a {
                color: #ec2127;
            }

            li {
                a {
                    text-decoration: none;
                    color: #53595c;
                    margin-left: 8px;
                    font-size: 13px;
                    font-family: $navfontfamily;

                    &:hover {

                        color: $navhover-color;
                    }
                }

            }
        }
    }

    .contactinfo {
        height: 96px;
        display: flex;
        align-items: center;
    }

    .call {
        margin-top: -6px;

        a {
            text-decoration: none;
            font-size: 2rem;
            color: black;
            font-weight: 700;
        }

    }

    .worktime {
        width: 150px;
        line-height: 14px;

        span {
            font-family: $navfontfamily;
            font-size: 12px;
            line-height: 10px;


        }

        span:nth-child(1) {
            color: #53595c;
        }


        span:nth-child(2) {
            font-weight: bold;
            line-height: 1.45;
        }
    }

    .language {

        margin-left: 7px;

        a {
            text-decoration: none;
            font-size: .875rem;
        }
    }

    a:nth-child(1) {
        color: black;
        margin-right: 5px;
    }

    a:nth-child(2) {
        color: $navhover-color;
        border: 1px solid $navhover-color;
        border-top: none;
        border-bottom: none;
        border-right: none;
        padding-left: 5px;
    }

}

#navbardown {
    background-color: #3c3f42;

    .navleft {
        height: 64px;
        color: #232222;

        .catalog {
            height: 64px;
            background-color: #232222;

            button {
                font-size: 20px;
                margin-top: 14px;
                margin-left: 11px;
                background-color: #232222;
                border: none;

                span {
                    color: white;
                    font-size: 17px;
                    margin-left: 15px;
                }

                i {
                    color: white;
                }

            }
        }

    }

    .navright {
        display: flex;

        .search {
            width: 522px;
            height: 64px;
            background-color: #3c3f42;

            input {
                width: 440px;
                height: 40px;
                border: none;
                margin-top: 12px;
                margin-left: 10px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            button {
                margin-top: 13px;
                border: none;
                height: 40px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: white;
            }

            i {

                background-color: white;
            }

        }

        .signin {
            height: 64px;

            ul {
                display: flex;
                list-style: none;


                span {
                    font-size: 15px;
                    color: white;
                    margin-top: 22px;
                    margin-left: 10px;

                }


                li:nth-child(1) {
                    margin-top: 13px;

                    a {
                        font-size: 27px;
                    }
                }

                li {
                    margin-top: 15px;

                    a {
                        text-decoration: none;
                        color: white;
                        margin-left: 15px;
                        font-size: 19px;
                    }
                }

            }
        }
    }


}

#menufoto {
    background-color: #f7f7f7;

    .producttype {
        height: 500px;
        background-color: white;

        a:nth-child(1) {
            color: #ec2127;
        }

        a:nth-child(18)span {

            color: #ec2127;
        }

        & a:nth-child(1) {
            padding-top: 5px;

        }

        a {
            display: block;
            text-decoration: none;
            color: #232222;
            margin-left: 10px;
            font-size: 15px;
            padding-top: 5px;

            span {
                margin-left: 5px;
                font-size: 15px;
            }


            .washmach {
                display: inline-block;
            }


            &:hover {
                span {
                    color: #ec2127;
                }

                .right {
                    color: #ec2127;
                }

            }


            a {
                span {
                    margin-left: 5px;
                    font-size: 14px;
                }

                a {
                    text-decoration: none;
                    color: #232222;

                }
            }

            &:hover {
                background-color: #f7f7f7;
            }

            .washmach {
                display: inline-block;
            }

        }

        a:nth-child(4) .right {
            margin-left: 129px;
        }

        a:nth-child(5) .right {
            margin-left: 104px;
        }

        a:nth-child(6) .right {
            margin-left: 94px;
        }

        a:nth-child(7) .right {
            margin-left: 80px;
        }

        a:nth-child(8) .right {
            margin-left: 123px;
        }

        a:nth-child(9) .right {
            margin-left: 29px;
        }

        a:nth-child(10) .right {
            margin-left: 87px;
        }

        a:nth-child(11) .right {
            margin-left: 101px;
        }

        a:nth-child(12) .right {
            margin-left: 108px;
        }

        a:nth-child(13) .right {
            margin-left: 74px;
        }

        a:nth-child(14) .right {
            margin-left: 144px;
        }

        a:nth-child(15) .right {
            margin-left: 37px;
        }

        a:nth-child(16) .right {
            margin-left: 120px;
        }

        a:nth-child(17) .right {
            margin-left: 110px;
        }

        a:nth-child(18) .right {
            margin-left: 159px;
            color: #ec2127;
        }

    }

    .slaydfoto {
        width: 99%;

        img {
            width: 99%;
            height: 500px;
        }
    }
}

#feature {
    background-color: #f7f7f7;
    .fastdelivery {
        margin-top: 80px;
        width: 272px;
        height: 132px;
        background-color: #EDEDEE;
        margin-bottom: 100px;
        padding-left: 5px;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            margin-top: 30px;

            
            .sp1{
                color: black;
                font-size: 17px;
                font-weight: bold;
            }

            span {
                font-size: 14px;
                color: #53595c;

            }

        }

        img {
            width: 105px;
            height: 96.89px;
            position: absolute;
            margin-top: 35px;
            margin-left: 152px;
        }
    }
    .guarantees{
        margin-top: 80px;
        width: 272px;
        height: 132px;
        background-color: #EDEDEE;
        margin-bottom: 100px;
        padding-left: 5px;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            margin-top: 30px;

            
            .sp1{
                color: black;
                font-size: 17px;
                font-weight: bold;
            }

            span {
                font-size: 14px;
                color: #53595c;

            }

        }

        img {
            width: 104px;
            height: 129.89px;
            position: absolute;
            margin-top: 1px;
            margin-left: 152px;
        }
    }
    .offers{
        margin-top: 80px;
        width: 272px;
        height: 132px;
        background-color: #EDEDEE;
        margin-bottom: 100px;
        padding-left: 5px;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            margin-top: 30px;

            
            .sp1{
                color: black;
                font-size: 17px;
                font-weight: bold;
            }

            span {
                font-size: 14px;
                color: #53595c;

            }

        }

        img {
            width: 110px;
            height: 96.89px;
            position: absolute;
            margin-top: 35px;
            margin-left: 157px
        }
    }
    .trustcard{
        margin-top: 80px;
        width: 272px;
        height: 132px;
        background-color: #EDEDEE;
        margin-bottom: 100px;
        padding-left: 5px;
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            margin-top: 28px;

            
            .sp1{
                color: black;
                font-size: 17px;
                font-weight: bold;
            }

            span {
                font-size: 14px;
                color: #53595c;

            }

        }

        img {
            width: 110px;
            height: 96.89px;
            position: absolute;
            margin-top: 35px;
            margin-left: 157px
        }
    }

}